{% block estrtutra_extensao %}
<style>
    .inlineblock{display:inlineblock;}



</style>
<div class="inlineblock">
    <div>
        <input type="text" placeholder="Nivel">
        <input type="text" placeholder="Cod. Ger/Setor">
        <input type="text" placeholder="Nome Setor">
        <input type="text" placeholder="Nome Gerente">
        <input type="text" placeholder="Chave ">
        <input type="text" placeholder="Ramal Ger.">
        <input type="text" placeholder="Cod. Edifício">
    </div>
    <div class="inlineblock">
        <input type="text" placeholder="Cod. Gerencia/Setor">
        <input type="text" placeholder="Cod. Geral">
        <input type="text" placeholder="Cargo">
    </div>
    <div class="inlineblock">
        <div class="inlineblock">
            <
        </div>
        <div class="inlineblock"></div>
    </div>
</div>
<div class="inlineblock">
    <img src="">
</div>