{% block extensao %}
<style>
    .margintop{margin-top:10px;}

</style>
<div>
    {% include "normasPDF/categorias_atividade.html" %}
</div>
<div class="margintop" style="background-color:lightgray;padding:2px;">
    <button id="atividade_estrutura">Estrut. Organiz.</button>
    <button id="atividade_gerencia">1. Etapa de Gerencia</button>
    <button id="atividade_execucao">2. Fase de Execução</button>
    <button id="atividade_atividade">3. Atividade</button>
    <button id="atividade_trabalho">4. Etapa de Trabalho</button>
    <button id="atividade_operacao">5. Operação.</button>
    <button id="atividade_tarefa">6. Tarefa</button>
</div>
<div id="atividade_extensao" style="background-color:gray;padding:10px;">
    {% block estrututra_extensao %}
    {% endblock %}
</div>
<script>
    $(document).ready(function(){
        $("#atividade_estrutura").click(function(){
            $("#atividade_extensao").load("/base/atividade/atividade/estrutura");
        });
        $("#atividade_gerencia").click(function(){
            $("#atividade_extensao").load("/base/atividade/atividade/gerencia");
        });
        $("#atividade_execucao").click(function(){
            $("#atividade_extensao").load("/base/atividade/atividade/execucao");
        });
        $("#atividade_atividade").click(function(){
            $("#atividade_extensao").load("/base/atividade/atividade/atividade");
        });
        $("#atividade_trabalho").click(function(){
            $("#atividade_extensao").load("/base/atividade/atividade/trabalho");
        });
        $("#atividade_operacao").click(function(){
            $("#atividade_extensao").load("/base/atividade/atividade/operacao");
        });
        $("#atividade_tarefa").click(function(){
            $("#atividade_extensao").load("/base/atividade/atividade/tarefa");
        });
    });

</script>
{% endblock %}