{% block extensao %}
<style>

</style>
<div>
    {% include "normasPDF/categorias_atividade.html" %}
</div>
<div style="margin-top:10px;background-color:lightgray;padding:2px;">
    <button id="estrutura">Estrut. Organiz.</button>
    <button id="gerencia">1. Etapa de Gerenc</button>
    <button id="execucao">2. Fase de Execução</button>
    <button id="atividade">3. Atividade</button>
    <button id="trabalho">4. Etapa de Trabalho</button>
    <button id="operacao">5. Operação.</button>
    <button id="tarefa">6. Tarefa</button>
</div>
<div id="atividade_extensao"></div>
<!--quando houver click nos botões usar ajax pegar os html e inserir em id="atividade_extensao"  -->
<script>
    $(document).ready(function(){
    $("#estrutura_empresa").click(function(){
        $("#estrutura_extensao").load("/base/atividade/atividade/estrutura");
    });
    });
</script>
{% endblock %}