{% block estrututra_extensao %}
<style>
    .inlineblock{display:inlineblock;}
    table, th, td {border: 1px solid black;}
</style>
<p style="font-size:30px;">Etapa de Gerenciamento</p>
<div class="inlineblock" style="vertical-align:top;">
    <div class="inlineblock" style="width:50px;">
        Ref.
        <br>
        <input type="text"style="width:100%;">
    </div>
    <div class="inlineblock" style="width:50px;">
        Cod.
        <br>
        <input type="text"style="width:100%;">
    </div>
    <div class="inlineblock" style="width:250px;">
        Titulo
        <br>
        <input type="text" style="width:100%;">
    </div>

    <table style="heigth:100px;overflow-y:scroll;margin-top:10px;">
        <tr>
            <th style="width:50px;">Nº</th>
            <th style="width:50px;">Cod.</th>
            <th style="width:250px;">Titulo</th>
        </tr>
        {% for i in dado %}
        <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td>{{i.2}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="inlineblock" style="width:50%;" >
    Nota Técnica
    <br>
    <input type="text" style="width:100%;height:100px;">
</div>
{% endblock %}