{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue =   decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });




</script>
<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <title>Somartech GRC</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style>
        .p1 {background-color: gray;float: left;width: 20%;        }
        .p{background-color: gray;text-align: center;border: 1px solid black;}
        .c{background-color: Lightgray;padding:10px;}
        .inlineblock{display:inline-block;}




    </style>
</head>
<body>
<div class="c" style="overflow:auto;">
    <img src="" alt="logo_inovetech" class="inlineblock" style="height:20px;width:50px;">
    <div class="inlineblock" style="margin-left:20px;">
        <span style="font-size:25px;">Somartech GRC </span>
        <span style="font-size:15px;vertical-align:middle;">- Gerenciamento de Riscos e Incertezas na Construção</span>
        {% if user.is_authenticated %}
        <br>Empresa
        <input type="text" style="width:100px;">
        <input type="text" disabled style="width:350px;background-color:lightgray;">
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="inlineblock" style="vertical-align:bottom;">
        <div class="inlineblock" style="padding:5px;border:1px solid gray;">
            <input type="checkbox">
            Patrocinadora
            <input type="checkbox">
            Contratada
        </div>
        id:
        <input type="text" style="background-color:lightgrey;width:100px;">
        <input type="text" style="width:100px;">


    </div>
    <div class=inlineblock" style="float:right;">
        <div class="inlineblock" >
            <p>Fases de Desenvolvimento</p>
            <div style="border:1px solid black;text-align:center;padding:5px;">
                <a href="{% url 'normas:fase1' %}" class=" btn btn-default">1</a>
                <a id="fase2" class=" btn btn-default" disabled>2</a>
                <a id="fase3" class=" btn btn-default" disabled>3</a>
                <a id="fase4" class=" btn btn-default" disabled>4</a>
                <a id="fase5" class=" btn btn-default" disabled>5</a>
            </div>
        </div>
        <div class="inlineblock">
            <p class="top-menu" style="clear:right;">
                <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
            </p>
        </div>
    </div>
    {% endif %}
</div>
<div class="content " style="min-height:380px;overflow:auto;margin-top:10px;">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <p class="p">INOVETECH - ENGENHARIA E INOVAÇÃO LTDA - Sistema GRC versão 1.0</p>
</footer>

</body>
</html>
