{% block categoria %}
<style>
    .botao{height:5px;width:5px;}
</style>
<div style="background-color: gray; padding: 10px;">
    <div class="inlineblock">
        <div class="inlineblock" style="text-align:right;">
            Empresa:
            <button class="botao"></button><br>
            Diretoria:
            <button class="botao"></button><br>
            Gerencia:
            <button class="botao"></button><br>
        </div>
        <div class="inlineblock">
            <select id="id_empresa" class="largura">
                <option disabled selected></option>
                {% for empresa in empresas.nome_empresa %}
                    <option value="{{empresa.1}}">{{empresa.0}}</option>
                {% endfor %}
            </select><br>
            <select id="id_diretoria" class="largura" disabled></select><br>
            <select id="id_gerencia" class="largura" disabled></select><br>
        </div>
    </div>
    <div class="inlineblock">
        <div class="inlineblock" style="text-align:right;">
            Divisão:
            <button class="botao"></button><br>
            Área de Trabalho:
            <button class="botao"></button><br>
            Especialidades:
            <button class="botao"></button><br>
        </div>
        <div class="inlineblock">
            <select id="id_areatrab" class="largura" disabled></select><br>
            <select id="id_especialidade" class="largura" disabled></select><br>
            <select id="id_divisao" class="largura" disabled></select><br>
        </div>
    </div>
</div>
{% block inner_js %}
<script type="text/javascript">
    $(document).ready(function(){
    $("#id_empresa").change(function () {
        console.log("empresa");
        $("#id_cod_empresa").val($("#id_empresa option:selected").val());
        $("#id_diretoria").empty().append("<option disabled SELECTED></option>").prop("disabled", false);
        $("#id_gerencia").empty().prop("disabled", true);
        $("#id_divisao").empty().prop("disabled", true);
        $("#id_areatrab").empty().prop("disabled", true);
        $("#id_especialidade").empty().prop("disabled", true);
        $.get("/base/get_info/diretoria",{data:$("#id_empresa option:selected").val()},function(resultado){
            $.each(resultado.diretorias, function(index, value){
                $("#id_diretoria").append(new Option(value[1], value));
            });
        });
    });
    $("#id_diretoria").change(function () {
        console.log("id_diretoria. change");
        $("#id_gerencia").empty().append("<option disabled SELECTED></option>").prop("disabled", false);
        $("#id_divisao").empty().prop("disabled", true);
        $("#id_areatrab").empty().prop("disabled", true);
        $("#id_especialidade").empty().prop("disabled", true);
        $.get("/base/get_info/gerencia",{data:$("#id_diretoria option:selected").val()},function(resultado){
            $.each(resultado.gerencias, function(index, value){
                $("#id_gerencia").append(new Option(value[1]));
            });
        });
    });
    $("#id_gerencia").change(function () {
        $("#id_divisao").empty().append("<option disabled SELECTED></option>").prop("disabled", false);
        $("#id_areatrab").empty().prop("disabled", true);
        $("#id_especialidade").empty().prop("disabled", true);
        $.get("/base/get_info/divisao",{data:$("#id_gerencia option:selected").val()},function(resultado){
            $.each(resultado.divisoes, function(index, value){
                $("#id_divisao").append(new Option(value[1]));
            });
        });
    });
    $("#id_divisao").change(function () {
        $("#id_areatrab").empty().append("<option disabled SELECTED></option>").prop("disabled", false);
        $("#id_especialidade").empty().prop("disabled", true);
        $.get("/base/get_info/areatrab",{data:$("#id_divisao option:selected").val()},function(resultado){
            $.each(resultado.areatrabalhos, function(index, value){
                $("#id_areatrab").append(new Option(value[1]));
            });
        });
    });
    $("#id_areatrab").change(function () {
        $("#id_especialidade").empty().append("<option disabled SELECTED></option>").prop("disabled", false);
        $.get("/base/get_info/especialidade",{data:$("#id_areatrab option:selected").val()},function(resultado){
            $.each(resultado.especialidades, function(index, value){
                $("#id_especialidades").append(new Option(value[1]));
            });
        });
    });
});
</script>
{% endblock inner_js %}
{% endblock %}