{% extends "normasPDF/base.html" %}


{% block content %}
<style>
    .btn.active, .btn:hover {
        background-color: Blue;
        color: white;
    }
    .btn{
        background-color: White;
        color: black;
    }
</style>
<h1>f1.01</h1>
<div style="background-color: gray;text-align: center;padding: 5px;" id="id_2">
    <a class="btn " disabled>Normas e Procedimentos</a>
    <a href="{% url 'normas:empresa' %}" class="btn ">Empresas</a>
    <a class="btn " disabled>EO - Estrutura Organizacional</a>
    <a class="btn " disabled>Atvidades</a>
    <a class="btn " disabled>Especialistas</a>
    <a class="btn " disabled>Técnicas de Análise de riscos</a>
    <a class="btn " disabled>Treinamento GR</a>
</div>
<div style="margin: 5px;">
    {% block conectado %}
    {% endblock %}
</div>

{% endblock %}