{% extends "normasPDF/fase1.html" %}
{% block conectado %}
<style>
    .a {width: 100%;}
    .b{width: 10%;background-color: gray;padding:5px;height:500px;}
    .inlineblock{display:inline-block;}
    .margintop{margin-top:10px;}
</style>
<div>
    <div class="b inlineblock">
        <button class=" a" id="edificios">Edificios</button>
        <button class=" a" id="estrutura">EO - Estrut. Organiz.</button>
        <button class=" a margintop" id="contratos">Contratos</button>
        <button class=" a margintop" id="projetos">Projetos</button>
        <button class=" a" id="estudos">Estudos de riscos</button>
        <button class=" a margintop" id="estrategias">Estratégias de SMS</button>
        <button class=" a margintop" id="equipes">Equipes de Trabalho</button>
        <button class=" a" id="funcionarios">Funcionários</button>
    </div>
    <div class="inlineblock" style="width: 84%;vertical-align:top; ">
        <div>
            {% include "normasPDF/categorias.html" with empresas=empresas %}
        </div>
        <div style=";background-color: gray;margin-top: 10px;" id="extensao"></div>
    </div>
</div>
{% block inner_js %}
<script type="text/javascript">
    $(document).ready(function(){
    $("#estrutura").click(function(){
        $("#extensao").load("/base/empresa/estrutura");
    });
    $("#funcionarios").click(function(){
        $("#extensao").load("/base/empresa/funcionario");
    });
});
</script>
{% endblock inner_js %}
{% endblock %}