
<p>estrutura</p>
<div style="background-color: DarkGray;padding: 2px;">
    <a class="btn btn-default" id="estrutura_empresa">Empresa </a>
    <a class="btn btn-default" id="estrutura_diretoria">Diretoria</a>
    <a class="btn btn-default" id="estrutura_gerencia">Gerencias</a>
    <a class="btn btn-default" id="estrutura_divisao">Divisões</a>
    <a class="btn btn-default" id="estrutura_areatrabalho">Áreas de Trabalho</a>
    <a class="btn btn-default" id="estrutura_especialidade">Especialidades</a>
    <a class="btn btn-default" id="estrutura_funcao">Funções</a>
</div>
<div style="min-height: 300px;" id="estrutura_extensao"></div>

{% block inner_js_estrutura %}
<script type="text/javascript">
    $(document).ready(function(){
    $("#estrutura_empresa").click(function(){
        $("#estrutura_extensao").load("/conectado/empresa/estrutura/empresa");
    });
    $("#estrutura_diretoria").click(function(){
        $("#estrutura_extensao").load("/conectado/empresa/estrutura/diretoria" , {data:$("#id_empresa").val()});
    });
    $("#estrutura_gerencia").click(function(){
        $("#estrutura_extensao").load("/conectado/empresa/estrutura/gerencia", {data:$("#id_diretoria").val()});
    });
    $("#estrutura_divisao").click(function(){
        $("#estrutura_extensao").load("/conectado/empresa/estrutura/divisao", {data:$("#id_gerencia").val()});
    });
    $("#estrutura_areatrabalho").click(function(){
        $("#estrutura_extensao").load("/conectado/empresa/estrutura/areatrab", {data:$("#id_divisao").val()});
    });
    $("#estrutura_especialidade").click(function(){
        $("#estrutura_extensao").load("/conectado/empresa/estrutura/especializacao", {data:$("#id_areatrab").val()});
    });
    $("#estrutura_funcao").click(function(){
        $("#estrutura_extensao").load("/conectado/empresa/estrutura/funcao", {data:$("#id_especialidade").val()});
    });
});

</script>
{% endblock inner_js_estrutura %}
