
<style>
table#t01 ,table#t01 th,table#t01 td {
        border: 1px solid black;
    }
    td{
       padding: 2px;
    }
    .th01{
        width: 300px;
    }
    .column{
        float: left;
    }
    .pane{
        display: inline-block;
        overflow-y: scroll;
        max-height:400px;
    }
</style>
<p>estrutura_gerencia</p>
<div style="padding: 5px;">
    <div style="border: 1px solid black;text-align:center;padding:10px;">
        <button id="button_cadastro">Cadastro</button>
        <button id="button_organograma">Organograma</button>
        <button disabled>Atribuição</button>
        <button disabled>Contato</button>
        <button id="button_lista">Lista</button>
    </div>
    <div style="text-align:center;margin-top:10px;">
        Gerencia:
        <select id="select_setor">
            {% for i in setor.gerencias %}
            <option value="{{i.0}}">{{i.1}}</option>
            {% endfor %}
        </select>
        <input id="input_setor" type="text">
    </div>
    <div class="pane" id="tabela" style="display:none;">
        falta colocar botões para a ordenação dos campos
        {% if setor %}
        <table id="t01">
            <tr>
                <th>ID</th>
                <th class="th01">Nome</th>
                <th class="th01">Responsavel</th>
            </tr>
            {% for i in setor.gerencias %}
            <tr id="row_table#{{i.0}}">
                {% for campo in i %}
                <td>{{campo}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <ul>Não há {{tipo}} cadastradas nessa empresa.</ul>
        {% endif %}
    </div>
    <div id="infoSetor" style="display : none; background-color: white; padding: 5px;margin: 10px;">
        <table style="width: 100%">
            <tr>
                <th>N° REG</th>
                <th>N° REF</th>
                <th>COD</th>
                <th style="width: 500px;">Titulo de Gerencia</th>
                <th>Gerencia</th>
                <th>Nivel</th>
            </tr>
            <tr>
                <td id="reg"><input disabled type="text" style="width:70px"></td>
                <td id="ref"><input disabled type="text" style="width:70px"></td>
                <td id="cod"><input disabled type="text" style="width:70px"></td>
                <td id="titulo"><input disabled type="text" style="width:100%"></td>
                <td id="Gerencia"><input disabled type="text" style="width:140px"></td>
                <td id="nivel"><input disabled type="text" style="width:70px"></td>
            </tr>
        </table>
        COD DE ESTRU. ORG. : <input type="text" style="width:80%;">
        <div style="margin: 2px;padding: 2px;" class="row">
            <div class="column">
                Diretor Resp.:<br>
                <input type="text" id="resp_diretor" style="width:250px;"><br>
                Secret.:<br>
                <input type="text" id="resp_secret" style="width:250px;">
            </div>
            <div class="column" style="margin-left:5px;">
                Nome de Trata:
                <button style="width:10px;height: 10px;" onclick="dosomething()"></button>
                <br>
                <input type="text" id="trata1" style="width:200px;"><br>
                Nome de Trata:
                <button style="width:10px;height: 10px;" onclick="dosomething()"></button>
                <br>
                <input type="text" id="trata2" style="width:200px;">
            </div>
            <div class="column" style="margin-left:5px;">
                COD:<br>
                <input type="text" id="cod1" style="width:70px;"><br>
                COD:<br>
                <input type="text" id="cod2" style="width:70px;">
            </div>
            <div class="column" style="margin-left:5px;">
                <br>
                <button onclick="dosemething()">Contato</button>
                <br>
                <br>
                <button onclick="dosemething()">Contato</button>
            </div>
            <div class="column" style="margin-left:20px;">
                Organogr.:
                <div style="background-color:#aaa;padding:5px;">
                    <button style="height:10px;width:10px;"></button>
                    <button style="height:10px;width:10px;"></button>
                </div>
            </div>
        </div>
        <div style="display:none;" id="organograma">
            Organograma:
            <img src="" id="organograma_imagem">
        </div>
    </div>
</div>
{% block inner_js %}
<script type="text/javascript">
    $(document).ready(function(){
    $("#id_diretoria").change(function(){
        console.log("estrutura_gerencia");
        $("#estrutura_extensao").load("/conectado/empresa/estrutura/gerencia" , {data:$("#id_diretoria").val()});
    });
    $("#button_organograma").click(function(){
        $("#organograma").toggle();
        <!-- pegar imagem e coloca no $("#organograma_imagem")-->
    });
    $("#button_lista").click(function(){
       $("#tabela").toggle();
    });
    $("#button_cadastro").click(function(){
       $("#infoSetor").toggle();
    });
});

</script>
{% endblock inner_js %}
