{% extends "normasPDF/base.html" %}


{% block content %}
<style>
    .btn.active, .btn:hover {background-color: Blue;color: white;}
    .btn{background-color: White;color: black;}

</style>

<div style="background-color: gray;text-align: left;padding: 5px;" id="id_2">
    <a class="btn " href="{% url 'normas:empresa' %}" >Empresas</a>
    <a class="btn " href="{% url 'normas:atividade' %}">Atividades</a>
    <a class="btn " disabled>Especialistas</a>
    <a class="btn " disabled>Comando</a>
    <a class="btn " href="{% url 'normas:normas' %}">Normas e Procedim.</a>
    <a class="btn " disabled>Téc. Análise Riscos</a>
    <a class="btn " disabled>Treinamento GR</a>
    <a class="btn " disabled>EO - Estrutura Organiz.</a>
</div>
<div style="margin-top:10px;">
    {% block conectado %}
    {% endblock %}
</div>

{% endblock %}