<style>
    .inlineblock{display:inline-block;vertical-align: top;}
    .border{border:1px solid black;}
    .box{padding:10px;}
    .altura{height:100px;}

</style>
<div style="padding:10px;">
    <p>funcionario_cadastro</p>
    <div class="inlineblock"  style="width:150px;height:500px;background-color:white;"></div>
    <div class="inlineblock border" style="height:500px;margin-left:10px;padding:10px;horizontal-align:left;">
        <div class="inlineblock border box ">

            Nome de Tratamento
            <input type="text" id="nome_tratamento" style="width:200px;">
            Chave
            <input type="text" id="chave" style="width:50px;">
            <br>
            <p class="inlineblock" >Nome</p>
            <input type="text" id="nome" >
        </div>
        <div class="inlineblock border box " style="margin-left:10px;">
            Matricula
            <input type="text" id="matricula" style="width:50px;">
            RG
            <input type="text" id="rg" style="width:50px;">
            <br>
            CPF
            <input type="text" id="cpf" style="width:50px;">
        </div>
        <div class="border box" style="width:100%;margin-top:10px;">
            Fone
            <div class="inlineblock">
                <input type="text" id="fone1" style="width:150px;">
                <br>
                <input type="text" id="fone2" style="width:150px;">
            </div>
            CEL.
            <div class="inlineblock">
                <input type="text" id="cel1" style="width:150px;">
                <br>
                <input type="text" id="cel2" style="width:150px;">
            </div>
            Ramal
            <input type="text"id="ramal" style="width:100px;">
            Email
            <div class="inlineblock">
                <input type="text" id="email1" style="width:150px;">
                <br>
                <input type="text" id="email2" style="width:150px;">
            </div>
        </div>
        <div class="inlineblock" style="margin-top:10px;">
            <img src="" id="imagem" alt="foto funcionario" style="width:140px;height:200px;">
            <br>
            <button>X</button>
            <button>X</button>
            <button>X</button>
            <button>X</button>
            <button>X</button>
            <button>X</button>
            <br>
            Pesquisar
            <br>
            <input type="text" style="width:150px;">
            <br>
            <input type="text" style="width:150px;">
        </div>
        <div class="inlineblock" style="margin:10px;">
            <div class="inlineblock border box" >
                Empresa
                <button>.</button>
                <input type="text" style="width:20px;">
                <input type="text" style="width:40px;">
                <br>
                Gerencia
                <button>.</button>
                <input type="text" style="width:40px;">
                <br>
                Função
                <button>.</button>
                <input type="text" style="width:40px;">
                <br>
                Cargo
                <button>.</button>
                <input type="text" style="width:40px;">
                <br>
            </div>
            <div class="inlineblock border box">
                Área de Trab
                <button>.</button>
                <input type="text" style="width:40px;">
                <br>
                COD Área Trab.
                <input type="text" style="width:40px;">
                <br>
                COD Ativ. Relac.
                <input type="text" style="width:40px;">
                <br>
                Form. Prof.
                <input type="text" style="width:40px;">
                <br>
            </div>
            <div class="border box" style="margin:10px;">
                Local Base:
                <button>.</button>
                Edificio
                <input type="text" style="width:40px;">
                SL_Andar
                <input type="text" style="width:40px;">
                COD.
                <input type="text" style="width:40px;">
                Cidade
                <input type="text" style="width:40px;">
                UF
                <input type="text" style="width:40px;">
            </div>
            <p>Registros Diversos/ Anotações</p>
            <input type="text" style="width:100%;height:100px;"
        </div>
    </div>
</div>