{% block normasprocedimento_extensao %}
<style>
    .borda_baixo{border-bottom:1px solid #ddd;margin-top:10px;}
    .floatright{float:right;}
	.escondido{display:show;margin-left:50px;}
</style>
<div style="padding:10px;background-color:gray;">
    {% for norma in resultado %}        
        {% if norma.norma_paiFK == None %}
            <div class="borda_baixo">
        {% else %}
            <div class="{{norma.norma_paiFK.identificador}} escondido borda_baixo">
        {% endif %}
            <input type="text" style="width:50px;" disabled value="{{norma.identificador}}">
            <input type="text" style="width:150px;" disabled value="{{norma.categoriaFK}}">
            <span>{{norma.conteudo|truncatechars:120}}</span>
            <input type="text" style="width:50px;" disabled>
        {% if norma.possui_subnorma == False %}
            <button disabled >+</button>
        {% else %}
            <button name="{{norma.identificador}}" >+</button>
        {% endif %}
            <button >.</button>
        </div>
    {% endfor %}
</div>
{% block inner_js %}
<script type="text/javascript">
    $(document).ready(function(){

    });
    $("button").click(function(){
        $("."+this.name).toggle();
        if ($(this).html()=="+")
            $(this).html("-");
        else
            $(this).html("+");
    });
</script>
{% endblock inner_js %}
{% endblock %}