{% block normas_extensao %}
<Style>
    .inlineblock{display:inlineblock;}
    table,td,tr{border:1px solid black;padding:5px;}

</Style>
<div style="padding:10px;">
    <p style="font-size:30px;">Gerencia/Area</p>
    <div>
        <span>Gerencia</span>
        <div style="float:right;">
            <span>Codigo Empresa</span>
            <input type="text">
        </div>
        <div style="border:1px solid black;padding:10px;overflow:auto;">
            <div class="inlineblock">
                <div class="inlineblock" style="width:50px;">
                    <p>Nº Reg.</p>
                    <input style="width:100%;">
                </div>
                <div class="inlineblock" style="width:50px;">
                    <p>Nº Ref.</p>
                    <input style="width:100%;">
                </div>
                <div class="inlineblock" style="width:50px;">
                    <p>COD</p>
                    <input style="width:100%;">
                </div>
                <div class="inlineblock" style="width:250px;">
                    <p>Titulo Gerencia</p>
                    <input style="width:100%;">
                </div>
                <div class="inlineblock" style="width:150px;">
                    <p>Gerencia</p>
                    <input style="width:100%;">
                </div>
                <div class="inlineblock" style="width:50px;">
                    <p>Nivel</p>
                    <input style="width:100%;">
                </div>
                <br>
                <span>COD de ESTRE. ORG.:</span>
                <input style="width:400px;">
            </div>
            <div class="inlineblock" style="border:1px solid black;width:80px;padding:5px;float:right;">
                <button style="width:100%;">Novo</button>
                <button style="width:100%;">Editar</button>
                <button style="width:100%;">Salvar</button>
                <button style="width:100%;">Excluir</button>
            </div>
            <div class="inlineblock" style="float:right;vertical-align:middle;margin:10px;">
                <button><</button>
                <button>></button>
                <br>
                <span>Lista</span>
                <button id="lista1">^</button>
            </div>
        </div>
        <div style="display:none;" id="lista1_div">
            <table>
                <tr>
                    <th>Reg</th>
                    <th>Ger</th>
                    <th>Ger</th>
                    <th>Nivel</th>
                    <th>Titulo</th>
                    <th>Ger de Comando</th>
                </tr>
                <tr>
                    {% for i in conteudo %}
                    <Td>{{i.0}}</Td>
                    <td>{{i.1}}</td>
                    <td>{{i.2}}</td>
                    <td>{{i.3}}</td>
                    <td>{{i.4}}</td>
                    <td>{{i.5}}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <span>Area de Trabalho</span>
        <div style="margin-top:10px;border:1 px solid black;">
            <div style="border:1px solid black;padding:10px;overflow:auto;">
                <div class="inlineblock">
                    <div class="inlineblock" style="width:50px;">
                        <p>Nº Reg.</p>
                        <input style="width:100%;">
                    </div>
                    <div class="inlineblock" style="width:50px;">
                        <p>Nº Ref.</p>
                        <input style="width:100%;">
                    </div>
                    <div class="inlineblock" style="width:50px;">
                        <p>COD</p>
                        <input style="width:100%;">
                    </div>
                    <div class="inlineblock" style="width:250px;">
                        <p>Titulo da Área de Trabalho</p>
                        <input style="width:100%;">
                    </div>
                    <div class="inlineblock" style="width:150px;">
                        <p>Cargo</p>
                        <input style="width:100%;">
                    </div>
                    <div class="inlineblock" style="width:50px;">
                        <p>Nivel</p>
                        <input style="width:100%;">
                    </div>
                    <br>
                    <span>COD de ESTRE. ORG.:</span>
                    <input style="width:400px;">
                </div>
                <div class="inlineblock" style="border:1px solid black;width:80px;padding:5px;float:right;">
                    <button style="width:100%;">Novo</button>
                    <button style="width:100%;">Editar</button>
                    <button style="width:100%;">Salvar</button>
                    <button style="width:100%;">Excluir</button>
                </div>
                <div class="inlineblock" style="float:right;vertical-align:middle;margin:10px;">
                    <button><</button>
                    <button>></button>
                    <br>
                    <span>Lista</span>
                    <button id="lista2">^</button>
                </div>

            </div>
        </div>
        <div style="display:none;" id="lista2_div">
            <table>
                <tr>
                    <th>Reg</th>
                    <th>Ger</th>
                    <th>Ger</th>
                    <th>Nivel</th>
                    <th>Titulo</th>
                    <th>Ger de Comando</th>
                </tr>
                <tr>
                    {% for i in conteudo %}
                    <Td>{{i.0}}</Td>
                    <td>{{i.1}}</td>
                    <td>{{i.2}}</td>
                    <td>{{i.3}}</td>
                    <td>{{i.4}}</td>
                    <td>{{i.5}}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>
{% block inner_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#lista1").click(function(){
            $("#lista1_div").toggle();
        });
        $("#lista2").click(function(){
            $("#lista2_div").toggle();
        });
    });

</script>
{% endblock inner_js %}
{% endblock %}