{% extends 'normasPDF/fase1.html' %}

{% block conectado %}

<style>
    .borda_baixo{border-bottom:1px solid #ddd;}
</style>
<div style="padding:10px;background-color:gray;">
    {{resultado.0}}
    {% for documento,categorias in resultado.items %}
    <button name="{{documento}}">+</button>
    <span>{{documento}}</span>
    <div class="{{documento}}" style="display:none;border: 1px solid black;">
        {% for categoria,conteudo in categorias.items %}
            <div style="margin:10px;border:1px solid black;padding:2px;">
                <button name="{{categoria}}">+</button>
                <span>{{categoria}}</span>
            </div>
            <div style="display:none;" class="{{categoria}}">
            {% for norma, conteudo2 in conteudo.items %}
                {% if conteudo2.1 == "" %}
                    <p style="margin-left:50px;">
                {% else %}
                    <p style="display:none;margin-left:100px;" class="{{conteudo2.1}}">
                {% endif %}
                {% if conteudo2.2 == 0 %}
                    <button disabled>+</button>
                    {% else %}
                    <button name="{{norma}}">+</button>
                {% endif %}
                <span>{{norma}}</span>
                <span class="borda_baixo">{{conteudo2.0}}</span>
                </p>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</div>

{% block inner_js %}
<script type="text/javascript">
    $(document).ready(function(){

    });
    $("button").click(function(){
        $("."+this.name).toggle();
        if ($(this).html()=="+")
            $(this).html("-");
        else
            $(this).html("+");
    });









</script>
{% endblock inner_js %}
{% endblock %}