{% block normasprocedimento_extensao %}
<style>
    .borda_baixo{border-bottom:1px solid #ddd;}
    .floatright{float:right;}
</style>
<div style="padding:10px;background-color:gray;">
    {% for norma in resultado %}
        {{norma.norma_paiFK}}
        {% if norma.norma_paiFK == None %}
            <p>
        {% else %}
            <p style="display:none;margin-left:50px;" class="{{norma.norma_paiFK}}">
        {% endif %}
            <input type="text" style="width:50px;" disabled value="{{norma.identificador}}">
            <input type="text" style="width:150px;" disabled value="{{norma.categoriaFK}}">
            <span class="borda_baixo" >{{norma.conteudo|truncatechars:150}}</span>
            <input type="text" style="width:50px;" disabled>
        {% if norma.possui_subnorma == False %}
            <button disabled >+</button>
        {% else %}
            <button name="{{norma.identificador}}" >+</button>
        {% endif %}
            <button >.</button>
        </p>
    {% endfor %}
</div>
{% block inner_js %}
<script type="text/javascript">
    $(document).ready(function(){

    });
    $("button").click(function(){
        $("."+this.name).toggle();
        if ($(this).html()=="+")
            $(this).html("-");
        else
            $(this).html("+");
    });
</script>
{% endblock inner_js %}
{% endblock %}