{% if setor %}
<table id="t01">
    <tr>
        <th>ID</th>
        <th class="th01">Nome</th>
        <th class="th01">Responsavel</th>
        <th> Ações</th>
    </tr>
    {% for i in setor %}
    <tr id="row_table#{{i.0}}">
        {% for campo in i %}
        <td>{{campo}}</td>
        {% endfor %}
        <td>
            <button onclick="informacaoDiretoria('{{i.0}}')">Mais Info.</button>
            <button onclick="excluioDiretoria('{{i.0}}')">Excluir</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<ul>Não há {{tipo}} cadastradas nessa empresa.</ul>
{% endif %}